html {
  height: 100%;
  font-family: system-ui;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
}

h3 {
  text-align: center;
}

div#app {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 14vw;
  padding: 0.5rem;
  margin: 0.3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.picked {
  background: #64ae64;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.selected {
  opacity: 0.5;
}

.character {
  width: 80%;
}